@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: inherit;
    color: inherit;   
}

a, a span, p, p span {
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.j-between {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

header {
    padding: 24px 36px;
    background-color: #323232;
}

header div {
    gap: 24px;
}

header div a {
    font-size: 18px;
    color: #fff;
}